* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #ddd;
}

.chat-container {
    width: 75%;
    max-width: 800px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-title {
    padding: 10px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    text-align: center;
}

.chat-box {
    padding: 10px;
    flex: 1; /* Grow to fill remaining space */
    overflow-y: scroll;
    background-color: #eee;
}

.chat-message {
    margin-bottom: 10px;
}

.message-sender {
    font-weight: bold;
    margin-right: 5px;
}

.message-text {
    word-wrap: break-word;
}

.chat-input {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.delete-conversation-btn {
    padding: 8px 15px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
}

.delete-conversation-btn:hover {
    background-color: #cc0000;
}
